body{
    color:white;
    background-image: url(Fondo2.jpg);
    margin: 0;
    padding: 10px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}
.Tilogo{
    display: flex;
}
.Tilogo img{
    height: 80px;
    margin-right: 10px;
}
.footer{
    padding: 80px 0;
    background-color: black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer_row{
    display: flex;
    flex-wrap: wrap;
}
.footer-link{
    width: 25%;
    padding: 0 15px;
}
.footer-link h4{
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3ff;
    padding-bottom: 10px;
    display: inline-block;
    color: white;
}
.footer-link ul li a{
    font-size: 18px;
    text-decoration: none;
    color:white;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-link ul li a:hover{
    padding-left: 10px;
    transform: scale(1.1);
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
    transition: all .5s ease;
}
.social-link a:hover{
    background-color:blue;
    transform: scale(1.1);
    box-shadow: 0 8px 16px;
}
.opciones{
    font-weight: 600;
    padding-right: 10px;
    text-align:center;
    background-color:transparent;
    border: 6px solid aqua;
    color: white;
    padding: 80px 0;
    border-radius: 35px;
    text-decoration: none;
    max-width: 900px;
    margin: auto;
}
.opciones a:hover{
    transform: scale(1.1);
    padding-right: 10px;
    color:white;
}
.Titulo{
    text-align: left;
}
.Piezas{
    text-align: center;
    background-color:transparent;
    border: 6px solid aqua;
    border-radius: 35px;
    color: white;
    padding: 80px 0;
    max-width: 1200px;
    margin: auto;
}
.bateria{
    justify-content: center;
    display: flex;
    align-self: center;
    background-color:transparent;
    border: 6px solid aqua;
    border-radius: 35px;
    color: white;
    padding: 80px 0;
    max-width: 800px;
    margin: 50px auto;
}
.bateria1{
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-left: 15px;
    height: 200px;
    width: 200px;
}
.bateria2 h2{
    margin-left: 10px;
    margin-right: 10px;
}
.bateria2 p{
    margin-left: 10px;
    margin-right: 10px;
}
.cable{
    justify-content: center;
    display: flex;
    align-self: center;
    background-color:transparent;
    border: 6px solid aqua;
    border-radius: 35px;
    color: white;
    padding: 80px 0;
    max-width: 800px;
    margin: 50px auto;
}
.cable1{
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-left: 15px;
    height: 200px;
    width: 200px;
}
.cable2 h2{
    margin-left: 10px;
    margin-right: 10px;
}
.cable2 p{
    margin-left: 10px;
    margin-right: 10px;
}
.caba{
    justify-content: center;
    display: flex;
    align-self: center;
    background-color:transparent;
    border: 6px solid aqua;
    border-radius: 35px;
    color: white;
    padding: 80px 0;
    max-width: 800px;
    margin: 50px auto;
}
.caballete{
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-left: 15px;
    height: 200px;
    width: 200px;
}
.caba2 h2{
    margin-left: 10px;
    margin-right: 10px;
}
.caba2 p{
    margin-left: 10px;
    margin-right: 10px;
}
.carbura{
    justify-content: center;
    display: flex;
    align-self: center;
    background-color:transparent;
    border: 6px solid aqua;
    border-radius: 35px;
    color: white;
    padding: 80px 0;
    max-width: 800px;
    margin: 50px auto;
}
.carburador{
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-left: 15px;
    height: 200px;
    width: 200px;
}
.carburador2 h2{
    margin-left: 10px;
    margin-right: 10px;
}
.carburador2 p{
    margin-left: 10px;
    margin-right: 10px;
}
.luz{
    justify-content: center;
    display: flex;
    align-self: center;
    background-color:transparent;
    border: 6px solid aqua;
    border-radius: 35px;
    color: white;
    padding: 80px 0;
    max-width: 800px;
    margin: 50px auto;
}
.luces{
    max-width: 280px;
    float: left;
    border-radius: 10px;
    margin-left: 15px;
    height: 200px;
    width: 200px;
}
.luces2 h2{
    margin-left: 10px;
    margin-right: 10px;
}
.luces2 p{
    margin-left: 10px;
    margin-right: 10px;
}
.forma{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forma2{
    background-color:#b5cab6;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}
.formulario{
    display: flex;
    flex-direction: column;
    text-align: left;
}
form h2{
    font-size: 35px;
    color: green;
}
.input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid wheat;
    color: black;
    outline: none;
}
input::placeholder, textarea::placeholder{
    color: #b5cab6;
}
.politicas{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.politicas a{
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.enviar{
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: green;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
}
.carousel-inner{
    max-width: 1200px;
    border-radius: 35px;
    margin: auto;
}<!--codigo del Boostrap para las opciones de navegacion de la pagina y responsive-->
<nav id="navbar-example2" class="navbar navbar-expand-lg bg-body-tertiary px-3 mb-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <!-- Botón de hamburguesa para colapsar el menú -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Contenido colapsable del menú -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto"> <!-- "ms-auto" para alinear a la derecha -->
      <li class="nav-item">
        <a class="nav-link" href="index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="modelos.html">Modelos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Piezas.html">Piezas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cita.html">Cita</a>
      </li>
    </ul>
  </div>
</nav>
.navbar-nav {
    margin: 0 auto; /* Centrar el contenedor */
    display: flex;
    justify-content: center; /* Centrar los items */
  }